<header role="banner">
  <div class="container">
    <div class="info">
      <a href="/">
        <amp-img src="{{  site.baseurl }}/images/logo.png" width="150px" height="150px" alt="Jens Haase"></amp-img>
      </a>
      <p class="lead">
        Hi, ich bin
        <strong class="author-name" itemprop="name">Jens
        Haase</strong>. Ich glaube das Künstliche Intelligenz unsere
        Welt stark verändert. Dieser Blog ist über meine wöchentlichen
        Erfahrungen, Erfolge und Misserfolge im Bereich <em>Machine
        Learning</em>, <em>Deep Learning</em> und <em>Natural Language
        Processing</em>.
      </p>
    </div>
  </div>
</header>
