$font-family-sans-serif: 'Noto Serif', serif;
$font-family-headline: 'Noto Sans', sans-serif;
$headings-font-family: 'Noto Sans', sans-serif;
$headings-font-weight: 700;

$font-size-base: 1.1rem;

$orange: #e36e39;
$text-gray: #989da0;

$link-color: $orange;
$link-color-hover: darken($orange, 10%);