---
layout: default
---

{% if page.image %}
<header class="image-header">
  <div class="container">
    <p class="links"><a href="/">Startseite</a></p>
    <amp-img
       src="{{ page.image.path }}"
       width="{{ page.image.width }}"
       height="{{ page.image.height }}"
       layout="responsive">
    </amp-img>
  </div>
</header>
{% else %}
{% include header.html %}
{% endif %}

<div class="container">
  <article role="main" class="single-post {% if page.image %}image{% endif %}">
    <header>
      <div class="meta">
        <time datetime="{{ page.date | date:'%Y-%m-%d' }}">
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}März
            {% when '4' %}April
            {% when '5' %}Mai
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}Oktober
            {% when '11' %}November
            {% when '12' %}Dezember
          {% endcase %}
          {{ page.date | date: "%Y" }}
        </time>
      </div>
      <h1>{{ page.title }}</h1>
    </header>

    <div class="text">
      {{ content }}
    </div>

  </article>
</div>

<div class="container">
  <amp-iframe width=600 height=140
			        layout="responsive"
			        sandbox="allow-scripts allow-same-origin allow-modals allow-popups"
			        resizable
			        frameborder="0"
			        src="https://cdn.rawgit.com/maxxeight/disqusAMP/master/disqus-amp.html?shortname=jenshaase&url={{ page.url | prepend: site.baseurl | prepend: site.url }}">
		<div overflow tabindex=0 role=button aria-label="Disqus Comments">Disqus Comments</div>
  </amp-iframe>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
  },
  "headline": "{{ page.title }}",
  {% if page.image %}
  "image": {
    "@type": "ImageObject",
    "url": "{{ page.image.path | prepend: site.url }}",
    "height": "{{ page.image.width }}px",
    "width": "{{ page.image.height }}px"
  },
  {% endif %}
  "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
  "publisher":{  
    "@type":"Organization",
    "name":"Jens Haase",
    "sameAs":[  
      "https://twitter.com/jenshaase",
      "https://github.com/jenshaase"
    ],
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/images/logo.png",
      "width": "150px",
      "height": "150px"
    }
   },
  "author": {
    "@type":"Person",
    "name":"Jens Haase",
    "sameAs":[  
      "https://twitter.com/jenshaase",
      "https://github.com/jenshaase"
    ]
  },
  "description": "{{ page.excerpt | strip_html | strip | rstrip | strip_newlines }}"
}
</script>

{% include footer.html %}
